#<pre>
--style=allman 
# add brackets to single line blocks ( if (a) b; => if (a) {b;} )
--add-brackets
--indent-switches
--indent-namespaces 
--pad-oper 
# remove extraneous padding around parentheses
--unpad-paren
# keep the * with the type, not with the variable (int *c => int* c)
--align-pointer=type 
# use 4 spaces for indentation
--indent=spaces=4 
# don't keep a backup of the original file
--suffix=none
--lineend=windows
--min-conditional-indent=0
#</pre>